*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

img,
picture {
  max-width: 100%;
}

main {
  gap: 2.5rem;
}

.container {
  padding: 0 1.5rem;
  gap: 1.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  width: 100%;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
